.logo {
  font-family: Sloppy Annabelle Regular;
  position: absolute;
  margin: 0;
  font-size: 8rem;
  font-weight: 400;
  left: -1rem;
  top: 2rem;
}

.nav {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
