.logo {
  font-family: Sloppy Annabelle Regular;
  position: absolute;
  font-size: 10rem;
  color: rgba(58, 55, 61, 0.925);
  font-weight: 400;
  margin: 2rem;
}

.nav {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
