<article>
    <app-headline class="head"
                  [title]="article.title"
                  [subTitle]="article.subTitle"
                  [class.right]="index % 2"
                  [index]="index"></app-headline>
    <div class="art-content"
         [class.reverse]="index % 2">
        <img class="art-img"
             src="{{ article.img }}">
        <div class="art-text">
            <p>{{ article.text }} </p>
            <a [class.hidden]="article.btn === ''"
               href=""
               class="btn ">{{ article.btn }}</a>
        </div>
    </div>
</article>