.head {
  position: relative;

  &.right {
    left: 45%;
  }
}
.art-content {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10rem;

  &.reverse {
    flex-direction: row-reverse;
  }
}

.art-text p {
  font-family: Inconsolata;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 2rem;
  font-size: 1.1rem;
  width: 25rem;
  margin: 0;
}

.art-img {
  max-width: 30rem;
  width: auto;
}

.more {
  font-family: Lato;
  font-size: 0.65rem;
  font-weight: 600;
  letter-spacing: 1px;
  display: inline-block;
  padding: 1rem 5rem;
  border: 2px solid rgba(57, 57, 57, 1);
  text-transform: uppercase;
  margin: 1.5rem 0;

  &.hidden {
    display: none;
  }
}
