.preview {
  position: relative;
}

.head {
  position: relative;
  left: 10%;

  &.right {
    left: 45%;
  }
}
.art-content {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10rem;

  &.reverse {
    flex-direction: row-reverse;
  }
}

.art-text p {
  font-family: Inconsolata;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 2rem;
  font-size: 1.1rem;
  width: 25rem;
  margin: 0;
}

.art-img {
  max-width: 30rem;
  width: auto;
}

.btn {
  &.hidden {
    display: none;
  }
}
