.gallery-container {
  position: relative;
  background: white;
  padding: 6rem;
}

.gallery-container::before {
  content: "";
  width: 1rem;
  height: 1rem;
  position: absolute;
  z-index: -1;
  left: 50%;
  bottom: 50%;
  transform: scale(65) rotate(45deg);
  background: #e8ded5;
}

.paspartu {
  -webkit-overflow-scrolling: touch;

  overflow: hidden;
}

button {
  border: none;
  outline: none;
  background: none;
  color: #e8ded5;
  font-size: 5rem;
  position: absolute;
  top: 45%;

  &.left {
    left: 1rem;
  }

  &.right {
    right: 1rem;
  }
}

button:hover {
  transform: scale(1.2);
}

.carousel {
  display: flex;
  height: 100%;
  margin: 2rem;

  .carousel-cell {
    margin-right: 10px;
    flex: 1 1 20rem;
    height: 30rem;
  }

  .carousel-cell:hover {
    transition: transform 500ms;
    transform: scale(1.1);
  }
}

.zoomed {
  transition: transform 500ms;
  transform: scale(1.1);
}
