.gallery-container {
  position: relative;
  background: white;
  margin: 0 auto;
  width: 50rem;
  padding: 8rem;
  height: 30rem;
}

.gallery-container::before {
  content: "";
  width: 1rem;
  height: 1rem;
  position: absolute;
  z-index: -1;
  left: 50%;
  bottom: 50%;
  transform: scale(70) rotate(45deg);
  background: #e8ded5;
}

.infinite-width {
  display: flex;
  height: 100%;
}

.img {
  flex: 1 1 20rem;
}

.paspartu {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  height: 30rem;
  left: 8rem;
  right: 8rem;
}
