.main-container {
  padding: 0 6rem;
}

.header {
  position: sticky;
  top: 0;
  z-index: 3;
  display: block;
  height: 8rem;
  line-height: 8rem;
  margin-bottom: 1.75rem;
  box-shadow: 0px 0px 25px 5px #f9f7f2;
}
