.h-container {
  position: relative;
  width: 50%;
  text-align: center;

  .h2 {
    font-family: Lato;
    font-size: 3rem;
    margin: 0;
    margin-top: 6rem;
  }

  .coursive {
    font-family: Sloppy Annabelle Regular;
    font-size: 6rem;
  }

  .rotated {
    width: 1rem;
    height: 1rem;
    position: absolute;
    z-index: -1;
    left: 50%;
    transform: rotate(45deg) scale(36);

    &.white {
      background: white;
    }

    &.blue {
      background: #e1ebf2;
    }

    &.biege {
      background: #e8ded5;
    }
  }
}
