.h-container {
  position: relative;
  display: inline-block;
  width: 30%;
  text-align: center;

  .h2 {
    font-family: Lato;
    font-size: 3rem;
    margin: 0;
  }

  .coursive {
    font-family: Sloppy Annabelle Regular;
    font-size: 6rem;
    line-height: 1.5rem;
  }

  .rotated {
    width: 1rem;
    height: 1rem;
    position: absolute;
    z-index: -1;
    left: 50%;
    transform: rotate(45deg) scale(36);

    &.white {
      background: white;
    }

    &.blue {
      background: #e1ebf2;
      z-index: -1;
    }

    &.biege {
      background: #e8ded5;
    }
  }
}
