<div class="home-container">
    <app-preview class="preview"
                 [index]="index"
                 [imgSrc]="articles[index].img"></app-preview>


    <app-article class="article"
                 [id]="ind"
                 *ngFor="let article of articles; let ind = index"
                 [article]="article"
                 [index]="ind">

    </app-article>


    <app-nav class="aside"
             id="shop"
             [navItems]="navItems">

    </app-nav>

    <app-gallery class="gallery"
                 id="gallery"></app-gallery>

    <app-contact class="contact"
                 id="contact"></app-contact>


</div>