<div class="home-container">
    <app-header class="header"></app-header>

    <main>
        <article>
            <div class="art-img"></div>
            <h2> </h2>
            <span class="coursive"></span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa voluptate soluta ex reiciendis! Rem
                officiis accusantium quae reprehenderit culpa praesentium?</p>
            <div class="more"></div>
        </article>
    </main>
    <app-footer class="footer"></app-footer>
</div>