.aside {
  position: relative;
  border: 2px solid #393939;
  display: inline-block;
  max-width: 50%;
  font-weight: 900;
  margin: 15rem 7rem;
  padding: 2rem;
  scroll-margin: 20rem;
}

.aside::before {
  content: "";
  position: absolute;
  background: rgba(174, 189, 189, 1);
  width: 1rem;
  height: 1rem;
  transform: scale(35) rotate(45deg);
  z-index: -1;
  left: 50%;
  bottom: 50%;
}

.preview {
  position: sticky;
  top: 0;
  height: 50vh;
}

.gallery {
  scroll-margin: -15rem;
}

.contact {
  position: relative;
  display: block;
  height: 110vh;
}
